/* Login/Registro ------------------------------------------------------------------------*/


/* menu  -------------------------------------------------------------------------------*/
#logo {
    width: 130px;
    height: 70px;
    margin-left: 1rem;
    margin-top: -0.5rem;
}
#pesquisar{
    margin-left: 0.8rem;
}
.navbar{
    /*padding-bottom: 30px;*/
    color: rgb(49, 49, 49);
    font-family: 'Raleway-Bold',sans-serif;
}
.urlMenu{
    display: inline;
    color: rgba(0, 0, 0, 0.726);
    margin-left: 1rem;
}
.carrinho{
    margin-left: 2rem;

}
.urlMenu:link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.514);
}
#adm{
    color: #2730C4;
}
.urlMenu:hover{
   color: black;
}
.form-control{
    min-width: 10rem;
}
.botaoPesquisar{
    margin-left: 0.4rem;
    margin-right: 2rem;
}
.sair{
    margin-top: 0.5rem;
}
.imgCadastro{
    width: 2rem;
}
.navbar-expand-md .navbar-collapse {
    
    padding-top: 2.8rem;
}
/* home -----------------------------------------------------------------------------------*/

#banner {
    background: url("https://by3302files.storage.live.com/y4mvZPdoJBynN8r_SRF4_uI5PymyWkcmRrOSvhxAEDM3izqbkmR2vZkblLL_rWvwDVBigsYFaeOLiWQKMGCpyCHgSQoc4EdA_0RTuSiB-cGeBesrEVo1fBkXM0niLZM683URnK-mS1DiD2Hyu3BTL3xGqT44vLJzEif9BR1CE_etEd_YMb50GRBPlMpLM1_HGcnsY-wCztY9xT9j761MZ8lOg/frutas-legumes-e-verduras-das-estacoes.jpg?psid=1&width=779&height=506");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    border-radius: 0.5rem;
}
.botaoHome{
    background-color: #656bdd;
    font-size: 18px;
    color: white;
}

.cardimg img {
    border: 0.5px solid gray;
    border-radius: 0.5rem;
    box-shadow: gray;
}
.homeFonte{
    color: rgb(0, 0, 0);
    font-family: 'Raleway-Bold',sans-serif;
}

/* produtos --------------------------------------------------------------------------------*/
.produtoVis{
    width:250px;
}
/* sobre a freskin ------------------------------------------------------------------------ */
.institucional{
    color: #77BC1E;
    font-weight: bold;
    margin-top: 50px;
}
.sobreFreskin{
    width: 70%;;
}
.gifBanana{
    max-width: 200px;
}
.gifCoco{
    max-width: 150px;
}
p, .institucional{
    font-family: 'Raleway-Bold',sans-serif;
}
.linhaVegetais{
    max-width: 600px;
    height: 80px;
    margin-bottom: 50px;
}

/* castro do endereço -----------------------------------------------------------------------------*/
.frutas{
    width: 500px;
    height: 100px;
    margin: -20px;
}
.botaoCadastro {
    background: #77BC1E;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    transition: 1s all;
    font-family: 'Raleway-Bold',sans-serif;
}
.botaoCadastro:hover {
    background: green;
    transform: scale(1.05);
}
#rua, #bairro, #cidade, #telefone, #complemento{
    width: 25rem;
    display: inline;
}

#cep  {
    width: 10rem;
    display: inline-block;
}
#numero, #estado{
    display: inline;
    width: 0.5rem;
}


/* footer --------------------------------------------------------------------------------------- */
footer, #nav{
    background-color: rgb(247, 247, 74);
}

.col-3{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.col-lg-3{
    width: 24%;
}
.row {
    flex-wrap: nowrap;
}
.merchan {
    max-width: 300px;

}
.vegan{
    width: 150px;
}
.row>* {
    flex-shrink: unset;
    width: 100%;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

footer {
    width: 100%;
    height: auto;
    margin-top: auto;
   
}